.devices {
    .arrow-devices {
        display: none;
    }
    &-header {
        @extend %block-header;
        padding-right: 40px;
        height: 80px;
        align-items: flex-start;
        padding-top: 30px;
        box-sizing: border-box;
        .filters {
            display: flex;
            margin-top: -5px;
            height: 30px;
            overflow: hidden;
            transition: height 1s;
            .filter {
                height:30px;
                font-size: 13px;
                background: rgb(192, 192, 192);
                line-height: 30px;
                padding-left: 15px;
                text-align: left;
                padding-right: 15px;
                margin-right: 10px;
                border-radius: 20px;
                vertical-align: center;
            }
            .active {
                background: #FFD93E;
            }
        }
    }
    &-content {
        height: 120px;
        .plate {
            width: 200px;
            height: 120px;
            border-radius: 20px;
            background: #F7F7F7;
            flex-shrink: 0;
            margin-right: 15px;
        }
        overflow: hidden;
    }
    .book {
        display: flex;
        transition: margin 1s;
    }
}

.paranja { 
    position: fixed;
    top: 0;
    left: 0;
    background:  rgba(51,51,51,0.50);
    height: 100%;
    width: 100%;
    display: none;
}

.popup {
    height: 350px;
    width: 630px;
    background: white;
    position: absolute;
    transform-origin: top left;
    transform: scale(0.1);
    transition: top 1s, left 1s;
    
}

.popup.opened {
    transform: scale(1) translate(-50%, -50%) ;
    top: 50% !important;
    left: 50% !important;
}


@media (max-width: 640px) {
    .devices {
        padding: 0;
        .arrows {
            display: none;
        }
        &-header {
            padding-left: 20px;
        }
        &-content {
            overflow: hidden;
        }
        .book {
            overflow: scroll;
            padding-left: 20px;
            height: 140px;
        }
    }
}

@media (max-width: 745px) {
    .devices {
        .arrow-devices {
            display: block;
            position: absolute;
            top: 7px;
            right: 10px;
            transition: transform 0.5s;
        }
        .filters {
            position: relative;
            flex-direction: column;
            z-index: 1;
            background: rgb(192, 192, 192);
            border-radius: 20px;
            max-height: none;
            .filter {
                width : 80px;
                margin: 0;
                border-radius: 20px;
                display: flex;
                justify-content: flex-start;
                &:active {
                    color: #c00;
                }
            }
           
        }
        .wrapper {
            display: flex;
        }
    }
}