.info{

   
}

.info-header {
    @extend %block-header;
    line-height: 70px;
    vertical-align: 20px;
}



.info-content {
    background-image: url('/assets/info-bg.png');
    border-radius: 15px;
    background-position: top;
    background-size: cover;
   
   
}
