.info {
    display: flex;
    flex-direction: column;

}

.info-header {
    @extend %block-header;
    line-height: 70px;
    vertical-align: 20px;
}



.info-content {
    background-image: url('/assets/info-bg.png');
    border-radius: 15px;
    background-position: top;
    background-size: cover;
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    padding: 0 20px 0 25px;
    box-sizing: border-box;
    &-state {
        
    }
    &-scenarios {
        width: 200px;
        padding-top: 25px;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .plate {
        width: 200px;
        height: 150px;
        border-radius: 20px;
        background: #F7F7F7;
        margin-bottom: 15px;
    }
}