.info {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.info-header {
    @extend %block-header;
    line-height: 70px;
    vertical-align: 20px;
}

.info-content {
    max-height: calc(100% - 70px);
    background-image: url('info-bg.png');
    border-radius: 15px;
    background-position: top;
    background-size: cover;
    flex-grow: 1;
    justify-content: space-between;
    display: flex;
    padding: 0 20px 0 25px;
    box-sizing: border-box;
    &-state {
        
    }
    &-scenarios {
        width: 200px;
        flex-grow: 0;
        height: 100%;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        .hide-scrollbar {
            box-sizing: border-box;
            padding-top: 25px;
            max-height: 100%;
            width: calc(100% + 20px);
            overflow-y: scroll;
        }
    }
    .plate {
        width: 200px;
        height: 120px;
        border-radius: 20px;
        background: #F7F7F7;
        margin-bottom: 15px;
    }
}