.header {
    box-sizing: border-box;
    padding-left: 40px;
    height: $header-height;
    width: 100%;
    border-bottom: 1px #F0F0F0 solid;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-shrink: 0 ;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
    max-height: calc(100vh - 291px);
}

.info {
    margin-right: 25px;
}

.info,
.scenario {
    flex-basis: 50%;
}

.footer, .devices {
    height: 100px;
    border: 3px solid black;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
}

@media (max-width : 640px) {
    .container {
        flex-direction: column;
    }

    .info {
        flex-grow: 1;
    }

    .scenario {
        flex-basis: 150px;
    }
    
    a {
        display: none;
    }
}