$color-black: #333333;
$color-gray: #858585;

$header-height: 91px;

html , body     {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    
}

a {
    text-decoration: none;
    color : $color-black;
    opacity: 0.6;
    margin-right: 26px;
    &:hover {
        color : #c00;
        opacity: 1;
    }
}

.active {
    opacity: 1;
    margin-right: 28px;
}

%block-header {
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    color: $color-black;
}

@import 'layout.scss';
@import 'info.scss';
@import 'scenario.scss';    