doctype html
html
  head
    title Яндекс.Дом
    link(rel='stylesheet', href='main.css')
  body 
    .header 
      img(src='main-logo.svg' style='margin-right: 30px;')
      a.active(href='#') Сводка
      a(href='#') Устройства
      a(href) Сценарии
    .container
      .info 
        .info-header Главное
      .scenario scenario
    .devices
    .footer

    
