<<<<<<< HEAD
<!DOCTYPE html>
html
  head
    title Яндекс.Дом
    link(rel="stylesheet", href="./main.css") 
   
  body sdgsdfgsdlsd
=======
doctype html
html
  head
    title Яндекс.Дом
    link(rel='stylesheet', href='main.css')
  body 
    .header 
      img(src='main-logo.svg' style='margin-right: 30px;')
      a(href='#') Сводка
      a(href='#') Устройства
    .container
      .info info
      .scenario scenario
    .devices
    .footer

    
>>>>>>> dev
