doctype html
html
  head
    title Яндекс.Дом
    link(rel='stylesheet', href='/dist/main.css')
    meta(name='viewport' content='width=device-width, initial-scale-1.0')
  body 
    .header 
      img(src='/assets/main-logo.svg' style='margin-right: 52px;')
      a.active(href='#') Сводка
      a(href='#') Устройства
      a(href='#') Сценарии
    .container
      .info 
        .info-header Главное
        .info-content 
          .info-content-state
            
          .info-content-scenarios
            -for (var x = 0; x < 4; x++)
              .plate
      .scenario scenario 
    .devices
    .footer

    
