doctype html
html
  head
    title Яндекс.Дом
    link(rel='stylesheet', href='main.css')
    meta(name='viewport' content='width=device-width, initial-scale-1.0')
  body
    .header 
      img(src='main-logo.svg' style='margin-right: 52px;')
      a.active(href='#') Сводка
      a(href='#') Устройства
      a(href='#') Сценарии
      img(src='icon-list.svg' class='icon-list')
    .menu
      a.active(href='#') Сводка
      a(href='#') Устройства
      a(href='#') Сценарии
    .body-scroller 
      .container
        .info 
          .info-header Главное
          .info-content 
            .info-content-state
              |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
            .info-content-scenarios
              .hide-scrollbar
                -for (var x = 0; x < 10; x++)
                  .plate 
        .scenario 
          .scenario-header 
              |Избранные сценарии
              .arrows
                img(src='arrow-left.svg' style='margin-right: 20px; opacity: 0.3')
                img(src='arrow-left.svg' style='transform: rotate(180deg); opacity: 0.3')
          .scenario-content 
            .book
              -for (var x = 0; x < 5; x++)
                .plate  #{x}
      .devices 
        .devices-header 
          div(style='display:flex;')
            div(style='margin-right: 15px') Избраныне сценарии
            .filters
              img.arrow-devices(src='arrow-devices.svg')
              .filter.active.close(filter='all') Все 
              .filter(filter='kitchen') Кухня 
              .filter(filter='hall') Зал
              .filter(filter='bulb') Лампочки
              .filter(filter='cam') Камеры
          .arrows
            img(src='arrow-left.svg' style='margin-right: 20px; opacity: 0.3')
            img(src='arrow-left.svg' style='transform: rotate(180deg); opacity: 0.3')
        .devices-content 
          var 
          .book
            -var filters = ['bulb', 'cam', 'kitchen', 'hall', 'kitchen', 'hall', 'bulb', 'hall']
            each filter in filters
              .plate(filter= filter) #{filter}
      .footer
    script(src='./scripts/pagination.js')
    script(src='./scripts/main.js')
    
    

    
